In [2]:
import pandas as pd
import numpy as np

# Read in data

In [3]:
data=pd.read_csv("/Users/juileebhosale/Documents/Personal/JOB/Study/Okta Take_home Assignment/Okta_data.csv")

In [11]:
data.head()

,Deal ID,Year,Region,Sales Segment,Contract Length,Product Name,Quantity,List Price,Total List Price,ARR
0,00163VHH30WYN4JY,2022,AMER,C,36,Single Sign-On,2500,2,180000,41400
1,00163VHH30WYN4JY,2022,AMER,C,36,Adaptive Multi-factor Authentication,2500,6,540000,124200
2,004YLID3WUAUI08F,2022,AMER,A,12,Single Sign-On,1000,2,24000,16800
3,004YLID3WUAUI08F,2022,AMER,A,12,Universal Directory,1000,2,24000,16800
4,004YLID3WUAUI08F,2022,AMER,A,12,Lifecycle Management,1000,4,48000,33600

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39850 entries, 0 to 39849
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Deal ID           39850 non-null  object
 1   Year              39850 non-null  int64
 2   Region            39850 non-null  object
 3   Sales Segment     39850 non-null  object
 4   Contract Length   39850 non-null  int64
 5   Product Name      39850 non-null  object
 6   Quantity          39850 non-null  int64
 7   List Price        39850 non-null  int64
 8   Total List Price  39850 non-null  int64
 9   ARR               39850 non-null  int64
dtypes: int64(6), object(4)
memory usage: 3.0+ MB